{% if slider %}
<div class="wrap">
    <h2 class="title">Слайдер</h2>
    <div class="slider" id="slider">
        {% for slide in slider.slides  %}
            <div class="slider__item" data-time="{{ slide.delay * 1000 }}">
                <span class="slider__title">Слайд {{ loop.index }}, показываем его
                    <span class="slider__time">{{ slide.delay }} сек</span>
                </span>
                {# //content img in a <tag>  or html-code #}
                {% if slide.type == 'text' %}
                    {{ slide.text|raw }}
                {% else %}
                    <a href="{{ slide.url }}">
                        <img src="{% path slide.media, 'reference' %}">
                    </a>
                {% endif %}
                {# //content img in a <tag>  or html-code #}
                <span class="slider__descr">{{ slide.name }}</span>
            </div>
        {% endfor %}
    </div>
</div>
<script src="{{ asset('bundles/adwslider/js/vendor.js') }}"></script>
<script>
    $('#slider').slick(
        {
            dots: true,
            infinite: true,
            pauseOnHover: false,
            pauseOnDotsHover: false,
            pauseOnFocus: false,
            speed: 300,
            slidesToShow: 1,
            autoplay: true,
            autoplaySpeed: 4000
        }).on("afterChange", function(e, slick)
    {
        slideTime = $($('#slider')).find('div[data-slick-index="' + slick.currentSlide + '"]').data("time");
        $('#slider').slick("setOption", "autoplaySpeed", slideTime);
    });
</script>
{% endif %}